[Desktop Entry]
Version=1.0
Type=Application
Name=Photo View
Comment=A cross-platform image gallery and file explorer
Exec=photo_view
Icon=photo_view
Terminal=false
Categories=Graphics;Photography;Viewer;
Keywords=photo;image;gallery;viewer;explorer;
StartupNotify=true
MimeType=image/jpeg;image/jpg;image/png;image/gif;image/bmp;image/webp;image/svg+xml;